.App{
    display: flex;
    gap: 59px;
    
    margin: 0 auto;

    width: 982px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.main{
    display: flex;
    flex-direction: column;
}

.buttonHome{
    width: 64px;
    height: 40px;

    border: none;
    border-radius: 8px;

    margin-left: 300px;

    cursor: pointer;

    background-color: #E9ECEF;
}
.buttonHome:hover{
    background-color: #868E96;
}

.main{
    display: flex;
    justify-content: center;
    margin: auto;
}